$nb-blue: #1498be;

/*
	---------------------------------------------------------------------------
		General Styles
	---------------------------------------------------------------------------
*/

html {
	font-size: 48px;
}

.button {
	&.wide {
		width: 100%;
	}
}

.hidden {
	display: none;
}


/*
	---------------------------------------------------------------------------
		Modal Styles
	---------------------------------------------------------------------------
*/

#working-modal {
	text-align: center;
	border: none;
	background: transparent;
	box-shadow: none;

	i {
		color: $warning-color;
		font-size: 20rem;
	}
}

/*
	---------------------------------------------------------------------------
		Log In Box Styles
	---------------------------------------------------------------------------
*/

#log-in-box {
	text-align: center;

	.logo {
		text-align: center;

		img {
			width: 25%;
		}
	}
}