/*
	---------------------------------------------------------------------------
		General Styles
	---------------------------------------------------------------------------
*/

.button {
	font-size: 2.5rem;

	&.wide {
		width: 100%;
	}

	&.large {
		font-size: 5rem;
	}
}