$nb-blue: #1498be;

/*
	---------------------------------------------------------------------------
		General Styles
	---------------------------------------------------------------------------
*/

html {
	font-size: 48px;
}

.button {
	&.wide {
		width: 100%;
	}
}

.hidden {
	display: none;
}


/*
	---------------------------------------------------------------------------
		Modal Styles
	---------------------------------------------------------------------------
*/

#loading-modal {
	h3 {
		.fa {
			margin-right: 1rem;
			color: $nb-blue;
		}
	}
}


/*
	---------------------------------------------------------------------------
		Log In Box Styles
	---------------------------------------------------------------------------
*/

#log-in-box {
	text-align: center;

	.logo {
		text-align: center;

		img {
			width: 25%;
		}
	}
}